<ion-view cache-view="false">
	<ion-nav-title>
		<div class="psmsmy_title_co">MY PAGE</div>
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<button menu-toggle="right" ng-click="goto_with_clearHistory('#/app/introduce');ActsLog('act_settings', 'act_Erpia_introduce')" class="button button-small button-psm04" ng-if="userType == 'Guest' " style="line-height: 12px;">ERPia<br>소개</button>&nbsp;
		<button menu-toggle="right" ng-click="goto_with_clearHistory('#/app/cs');ActsLog('act_settings','act_Signup')" class="button button-small button-psm04" ng-if="userType == 'Guest'" style="line-height: 14px;">가입<br>상담</button>
		<button menu-toggle="right" ng-click="updateList()" ng-if="userType != 'Guest'"  class="button button-outline button-positive" style="border-color: #fff;"><sapn style="color: #fff; font-size: 0.8em; line-height: 14px;  display: inline-block; margin-top: 1px;">업데이트<br>현황</sapn></button>
	</ion-nav-buttons>
	<ion-content scroll="false">
		<tab-slide-box>
			<div class="tsb-icons" style="border-bottom: 1px solid #ccc7cf;"> <!-- class건들이면 안되요..ㅠㅠ -->
				<div class="tsb-ic-wrp" style="width: 100%"> <!-- class건들이면 안되요..ㅠㅠ -->
					<div style="width: 87%">
						<ion-scroll direction="x" class="tsb-hscroll" style="position: relative; z-index: 1">
							<a ng-href="javascript:;"  ng-repeat="tab in tabs" on-finish-render="test()" style="text-align: center; font-size: 15px; padding-left: 10px; padding-right: 10px; margin-left: 5px; margin-right: 5px;">
								<span ng-if="tab.befo == '홈'" style="display: inline-block; padding-top: 20px;"><font style="display: inline-block; position: relative; top: -10px;">&nbsp;&nbsp;{{tab.befo}}&nbsp;&nbsp;</font></span>
								<span ng-if="tab.befo != '홈'">{{tab.pre}}<br>{{tab.befo}}</span>
							</a>
						</ion-scroll>
					</div>
					<div style="width: 1%">
						<ion-scroll style="width: 50px; position: fixed; top: 0px; right: 0; margin-top: 0px; z-index: 2; background: #ccc;">
							<i class="ion-arrow-down-b" style='font-size:30px; margin-top: -10px; vertical-align:middle; color: #914c61;' ng-click='chrtlistF()'></i>
						</ion-scroll>
					</div>
				</div>
			</div>
			<!-- 탭 리스트 -->
			<div class="list" ng-if='chartlist == true' style="width: 100%; height: 100%; padding-bottom: 100px; background: #ebebeb;">
				<ion-scroll zooming="false" direction="y" style="width: 100%; height: 100%; clear: both;">
					<div style="padding-bottom: 55px;">
						<ul ng-repeat="tab in tabs">
							<li class="item" style="background: #ebebeb; font-size: 13px;" ng-if="chart_index != $index" ng-click="slideC($index)">
								<i class="{{tab.icon}}" style='font-size:23px;'></i>&nbsp;&nbsp; {{tab.name}}
							</li>
							<li class="item" style="background: #D5D5D5; font-size: 18px; color:#c06375;" ng-if="chart_index == $index" ng-click="slideC($index)">
								<i class="{{tab.icon}}" style='font-size:25px; color:#c06375'></i>&nbsp;&nbsp; {{tab.name}}
							</li>
						</ul>
					</div>
				</ion-scroll>
				<ul style="width: 100%; position: fixed; bottom: 55px; left: 0;">
					<li class="item" style="background: #6c5e72; text-align: right;">
						<i ng-if="userData.B2BPack_YN != 'Y'" class='ion-android-settings' style='font-size:25px; text-align: right; color: #fff;' ng-click="goto_with_backButton('#/app/config/statistics')"></i>
					</li>
				</ul>
			</div>
			
			<ion-slide-box does-continue="true" show-pager="true" on-slide-changed="slideHasChanged($index, tabs);slideChanged(index)" style="padding-bottom: 100px;">
				<!-- ERPia 메인화면 -->
				<ion-slide on-touch="onTouch()" on-release="onRelease()" on-swipe-left="nextSlide()" on-swipe-right="previousSlide()" ng-repeat="tab in tabs" ng-init="updateSlider()" style="background: #4f4f5e; overflow-y: auto; padding-bottom: 0px;" >
					<ion-scroll zooming="false" direction="y" style="width: 100%; height: 100%; clear: both;">
						<div style="height:100%; padding-top: 10px; width: 100%; background: #ededed;" ng-if = "$index == 0">
							<div ng-if="userData.B2BPack_YN != 'Y'">
								<!-- 컨텐츠 상단 (정보)-->
								<div class="psm_home05" ng-bind-html='nowTime' ng-click="ERPiaBaseData()" style="color: #444; padding-bottom: 5px; font-weight: bold;"></div>
								<div class="psm_home06 ion-android-refresh" ng-click="ERPiaBaseData()" style="color: #444; position: absolute; top:-5px; padding-top: 12px; right:0; font-size: 1.5em;"></div>

								<!-- 컨텐츠 상단 (미처리 조회)-->
								<div class="row psm_home30">

									<!-- 신규주문 -->
									<div class="col-xs-psm psm_home17 psm_home18" style="width: 19.2%;">
										<div class="psm_home11"><img src="./img/icon_sin.png" class="psm_home12"></div>
										<div class="psm-box2">
											<div class="inner psm_home11">
												<p class="psm_home14">신규 주문</p>
												<h1 class="psm_home15" ng-bind-html='dashBoard.E_NewOrder'></h1>
											</div>
										</div>
									</div>

									<div class="col-xs-psm2 psm_home16" style="width: 1%;"></div>

									<div class="col-xs-psm psm_home17 psm_home19" style="width: 19.2%;">
										<div class="psm_home11"><img src="./img/icon_mul.png" class="psm_home12"></div>
										<div class="psm-box2">
											<div class="inner psm_home11">
												<p class="psm_home14">물류 처리</p>
												<h1 class="psm_home15" ng-bind-html='dashBoard.E_BsComplete'></h1>
											</div>
										</div>
									</div>

									<div class="col-xs-psm2 psm_home16" style="width: 1%;"></div>

									<div class="col-xs-psm psm_home17 psm_home20" style="width: 19.2%;">
										<div class="psm_home11"><img src="./img/icon_songin.png" class="psm_home12"></div>
										<div class="psm-box2">
											<div class="inner psm_home11">
												<p class="psm_home14">송장 입력</p>
												<h1 class="psm_home15" ng-bind-html='dashBoard.E_InputMno'></h1>
											</div>
										</div>
									</div>

									<div class="col-xs-psm2 psm_home16" style="width: 1%;"></div>

									<div class="col-xs-psm psm_home17 psm_home21" style="width: 19.2%;">
										<div class="psm_home11"><img src="./img/icon_bei.png" class="psm_home12"></div>
										<div class="psm-box2">
											<div class="inner psm_home11">
												<p class="psm_home14">출고 처리</p>
												<h1 class="psm_home15" ng-bind-html='dashBoard.E_CgComplete'></h1>
											</div>
										</div>
									</div>

									<div class="col-xs-psm2 psm_home16" style="width: 1%;"></div>

									<div class="col-xs-psm psm_home17 psm_home22" style="width: 19.2%;">
										<div class="psm_home11"><img src="./img/icon_songout.png" class="psm_home12"></div>
										<div class="psm-box2">
											<div class="inner psm_home11">
												<p class="psm_home14">송장 전송</p>
												<h1 class="psm_home15" ng-bind-html='dashBoard.E_RegistMno'></h1>
											</div>
										</div>
									</div>

								</div>
							</div>

							<div>
								<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 5px;">
									<tr>
										<td style="width: 50%; text-align: center; padding: 0px 3px 0px 5px;">
											<div style="background: #c8bece; font-size: 1.0em; padding: 9px 7px 0px 7px; font-weight: bold; color: #444;">금일 매출액
												<div style="font-size: 1.0em; padding-bottom: 4px;">{{dashBoard.M_today | number:0}}<font style="font-size: 0.85em;">원</font></div>
											</div>
										</td>
										<td style="width: 50%; text-align: center; padding: 0px 5px 0px 2px;">
											<div style="background: #c8bece; font-size: 1.0em; padding: 9px 7px 0px 7px; font-weight: bold; color: #444;">전일 매출액
												<div style="font-size: 1.0em; padding-bottom: 4px;">{{dashBoard.M_before | number:0}}<font style="font-size: 0.85em;">원</font></div>
											</div>
										</td>
									</tr>
								</table>
							</div>
							<div style="height:100%; background: #4f4f5e;"  id='{{$index}}'></div>
						</div>
						<div ng-if = "$index != 0" style="height:100%;"  id='{{$index}}'></div>
					</ion-scroll>
				</ion-slide>
			</ion-slide-box>
		</tab-slide-box>
	</ion-content>
</ion-view>
