
	<ion-view view-title="MY PAGE">
	<ion-content >
		<!-- <div style="position:absolute; bottom:0px; z-index:1; margin-bottom: -5px;">
			<img src="./img/banner_event1.jpg" width="100%">
		</div> -->
		<tab-slide-box>
			<div class="tsb-icons"> <!-- class건들이면 안되요..ㅠㅠ -->
				<div class="tsb-ic-wrp"> <!-- class건들이면 안되요..ㅠㅠ -->
					<ion-scroll direction="x" class="tsb-hscroll" style="position: relative; z-index: 1">
						<!-- <a ng-href="javascript:;" class="{{tab.icon}}" ng-repeat="tab in tabs" on-finish-render="test()">{{tab.title}}</a> -->
						<a ng-href="javascript:;" class="{{tab.icon}}" style='font-size:25px;' ng-repeat="tab in tabs" on-finish-render="test()"></a>
					</ion-scroll>


					<div style="background: #ccc; width: 50%; position: relative; z-index: 2 ; margin-top: -10px; margin-bottom: -10px;">
						<i class='ion-arrow-down-b' style='padding-top:40px; text-align: center; vertical-align:middle; font-size:35px; color: #000;' ng-click='chrtlistF()' on-finish-render="test()"></i>
					</div>
				</div>
			</div>
			<!-- 탭 리스트 -->
			<div class="list" ng-if='chartlist == true' style="width: 100%; height: 100%; padding-bottom: 100px;">
				<ion-scroll zooming="false" direction="y" style="width: 100%; height: 100%; clear: both; ">
					<span ng-repeat="tab in tabs">
						<li class="item" style="background: #ebebeb; font-size: 13px;" ng-click="slideC($index)"><i class="{{tab.icon}}" style='font-size:23px;'></i>&nbsp;&nbsp; {{tab.title}}</li> 
					</span>
					<span>
						<li class="item" style="background: #ebebeb;">
							<i class='ion-android-settings' style='font-size:25px; text-align: right;' ng-click="goto_with_backButton('#/app/config/statistics')"></i>
						</li>
					</span>
				</ion-scroll>
			</div>
			<ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index);slideChanged(index)" style="border-top: 1px solid #e0e0e0;">
				<ion-slide>
					<ion-content overflow-scroll="false">
						<!-- <p ng-bind-html="login_alert"></p> -->
						<div style="height:100%;" >
							<!-- 컨텐츠 상단 (정보)-->
							<!-- <link ng-href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
							<link ng-href="./css/AdminLTE.css" rel="stylesheet" type="text/css" /> -->
							<span class="psm_home05" ng-bind-html='nowTime' ng-click="ERPiaBaseData()"></span> 
							<span class="psm_home06 ion-ios-loop-strong" ng-click="ERPiaBaseData()"></span>


							<!-- <div class="row psm_home30"> -->
							<!-- 컨텐츠 상단 (미처리 조회)-->
							<div class="row psm_home30">

								<!-- 신규주문 -->
								<div class="col-xs-psm psm_home17 psm_home18" style="width: 19.2%;">
									<div class="psm_home11"><img src="./img/icon_sin.png" class="psm_home12"></div>
									<div class="psm-box">
										<div class="inner psm_home11">
											<p class="psm_home14">신규 주문</p>
											<h1 class="psm_home15" ng-bind-html='dashBoard.E_NewOrder'></h1>
										</div>
									</div>
								</div>

								<div class="col-xs-psm2 psm_home16" style="width: 1%;"></div>

								<div class="col-xs-psm psm_home17 psm_home19" style="width: 19.2%;">
									<div class="psm_home11"><img src="./img/icon_mul.png" class="psm_home12"></div>
									<div class="psm-box">
										<div class="inner psm_home11">
											<p class="psm_home14">물류 처리</p>
											<h1 class="psm_home15" ng-bind-html='dashBoard.E_BsComplete'></h1>
										</div>
									</div>
								</div>

								<div class="col-xs-psm2 psm_home16" style="width: 1%;"></div>

								<div class="col-xs-psm psm_home17 psm_home20" style="width: 19.2%;">
									<div class="psm_home11"><img src="./img/icon_songin.png" class="psm_home12"></div>
									<div class="psm-box">
										<div class="inner psm_home11">
											<p class="psm_home14">송장 입력</p>
											<h1 class="psm_home15" ng-bind-html='dashBoard.E_InputMno'></h1>
										</div>
									</div>
								</div>

								<div class="col-xs-psm2 psm_home16" style="width: 1%;"></div>

								<div class="col-xs-psm psm_home17 psm_home21" style="width: 19.2%;">
									<div class="psm_home11"><img src="./img/icon_bei.png" class="psm_home12"></div>
									<div class="psm-box">
										<div class="inner psm_home11">
											<p class="psm_home14">출고 처리</p>
											<h1 class="psm_home15" ng-bind-html='dashBoard.E_CgComplete'></h1>
										</div>
									</div>
								</div>

								<div class="col-xs-psm2 psm_home16" style="width: 1%;"></div>

								<div class="col-xs-psm psm_home17 psm_home22" style="width: 19.2%;">
									<div class="psm_home11"><img src="./img/icon_songout.png" class="psm_home12"></div>
									<div class="psm-box">
										<div class="inner psm_home11">
											<p class="psm_home14">송장 전송</p>
											<h1 class="psm_home15" ng-bind-html='dashBoard.E_RegistMno'></h1>
										</div>
									</div>
								</div>

							</div>
								
							<div class="psm_home14">금일 매출액</div>
							<hr>
							<div class="psm_home14">전일 매출액</div>
							<hr>
							<div class="psm_home14">그래프 들어갈자리</div>
						</div>
					</ion-content>
				</ion-slide>

				<ion-slide id="s1" style="background: #4f4f5e; overflow-y: auto; padding-bottom: 213px;"></ion-slide>
				<ion-slide id="s2" style="background: #4f4f5e; overflow-y: auto; padding-bottom: 213px;"></ion-slide>
				<ion-slide id="s3" style="background: #4f4f5e; overflow-y: auto; padding-bottom: 213px;"></ion-slide>
				<ion-slide id="s4" style="background: #4f4f5e; overflow-y: auto; padding-bottom: 213px;"></ion-slide>
				<ion-slide id="s5" style="background: #4f4f5e; overflow-y: auto; padding-bottom: 213px;"></ion-slide>
				<ion-slide id="s6" style="background: #4f4f5e; overflow-y: auto; padding-bottom: 213px;"></ion-slide>
				<ion-slide id="s7" style="background: #4f4f5e; overflow-y: auto; padding-bottom: 213px;"></ion-slide>
				<ion-slide id="s8" style="background: #4f4f5e; overflow-y: auto; padding-bottom: 213px;"></ion-slide>
				<ion-slide id="s9" style="background: #4f4f5e; overflow-y: auto; padding-bottom: 213px;"></ion-slide>
				<ion-slide id="s10" style="background: #4f4f5e; overflow-y: auto; padding-bottom: 213px;"></ion-slide>
				<ion-slide id="s11" style="background: #4f4f5e; overflow-y: auto; padding-bottom: 213px;"></ion-slide>
				<ion-slide id="s12" style="background: #4f4f5e; overflow-y: auto; padding-bottom: 213px;"></ion-slide>
				<ion-slide id="s13" style="background: #4f4f5e; overflow-y: auto; padding-bottom: 213px;"></ion-slide>
				<ion-slide id="s14" style="background: #4f4f5e; overflow-y: auto; padding-bottom: 213px;"></ion-slide>
				<ion-slide id="s15" style="background: #4f4f5e; overflow-y: auto; padding-bottom: 213px;"></ion-slide>
				<ion-slide id="s16" style="background: #4f4f5e; overflow-y: auto; padding-bottom: 213px;"></ion-slide>
			</ion-slide-box>
		</tab-slide-box>
	</ion-content>
</ion-view>

