<ion-view view-title="고객센터" >
    <ion-content class="" style="background: #d9dfdf;">

        <div style=" padding: 0 50px;">
            <div class="button-bar" style="padding-top:80px">
				<a class="button button-light" style="border:0px; background: #626a6c; padding-top:30px;"  ng-click="BoardSelect1()">
					<span  class="psm_left_img2 ion-ios-mic-outline" style="font-size: 3em; color: #fff"></span><br>
					<span class="psm_left_mediv psm_goma">공지사항</span>
				</a>
				<a class="button button-light" style="border:0px; background: #57a49a; padding-top:30px;"   ng-click="BoardSelect2()">
					<span  class="psm_left_img2 ion-ios-albums-outline" style="font-size: 3em; color: #fff"></span><br>
					<span class="psm_left_mediv psm_goma">업데이트 현황</span>
				</a>
            </div>

            <div class="button-bar">
				<a class="button button-light" style="border:0px; background: #cd7162; padding-top:30px;"   ng-click="BoardSelect3()">
					<span  class="psm_left_img4 ion-ios-bookmarks-outline" style="font-size: 3em; color: #fff"></span><br>
					<span class="psm_left_mediv psm_goma">지식 나눔방</span>
				</a>
				<a class="button button-light" style="border:0px; background: #dfbe63; padding-top:30px;"   ng-click="BoardSelect4()">
					<span  class="psm_left_img4 ion-ios-help-outline" style="font-size: 3em; color: #fff"></span><br>
					<span class="psm_left_mediv psm_goma">업체문의 Q&A</span>
				</a>
            </div>
        </div>

        <div style="position:fixed; bottom:0px; margin-bottom: -10px;">
            <img src="./img/banner_event1.jpg" width="100%">
        </div>
    </ion-content>
</ion-view>
