<ion-modal-view cache-view="false" style="width: 100%; height: 100%; background-color: rgba( 53, 53, 53, 0.8 );">
	<ion-content style="width: auto; height: auto; top: 10%; left: auto; right: 0%; bottom: auto;" scroll="false">
		<div style="width: 100%; padding: 20px; text-align: right;">

			<div style="padding-bottom: 15px; color: #fff; text-align: right;">
				<span ng-if="priv_productYM == 'Y'" ng-click="pro_detail()">
					<font style="display: inline-block; vertical-align: bottom; padding-bottom: 3px;">상품상세 정보</font>
					<i class="ion-ios-checkmark-outline" style="color: #fff; font-size: 25px;"></i>
				</span>
				<spanng ng-if="priv_productYM == 'N'" style="color: #BDBDBD;" ng-click="privNo()">
					<font style="display: inline-block; vertical-align: bottom; padding-bottom: 3px;">상품상세 정보</font>
					<i class="ion-ios-checkmark-outline" style="color: #BDBDBD; font-size: 25px;"></i>
				</span>
			</div>

			<div style="padding-bottom: 15px; color: #fff; text-align: right;">
				<span ng-if="priv_meaip.master_useYN == 'Y' && priv_meaip.save == 'Y' && priv_wongaYN == 'N'" ng-click="meaipchul_Insert(1)">
					<font style="display: inline-block; vertical-align: bottom; padding-bottom: 3px;">선택상품 매입 등록</font>
					<i class="ion-ios-checkmark-outline" style="color: #fff; font-size: 25px;"></i>
				</span>
				<span ng-if="priv_meaip.master_useYN != 'Y' || priv_meaip.save != 'Y' || priv_wongaYN != 'N'" style="color: #BDBDBD;" ng-click="privNo()">
					<font style="display: inline-block; vertical-align: bottom; padding-bottom: 3px;">선택상품 매입 등록</font>
					<i class="ion-ios-checkmark-outline" style="color: #BDBDBD; font-size: 25px;"></i>
				</span>
			</div>

			<div style="padding-bottom: 15px; color: #fff; text-align: right;">
				<span ng-if="priv_meachul.master_useYN == 'Y' && priv_meachul.save == 'Y'" ng-click="meaipchul_Insert(2)">
					<font style="display: inline-block; vertical-align: bottom; padding-bottom: 3px;">선택상품 매출 등록</font>
					<i class="ion-ios-checkmark-outline" style="color: #fff; font-size: 25px;"></i>
				</span>
				<span ng-if="priv_meachul.master_useYN != 'Y' || priv_meachul.save != 'Y'" style="color: #BDBDBD;" ng-click="privNo()">
					<font style="display: inline-block; vertical-align: bottom; padding-bottom: 3px;">선택상품 매출 등록</font>
					<i class="ion-ios-checkmark-outline" style="color: #BDBDBD; font-size: 25px;"></i>
				</span>
			</div>

			<div style="padding-bottom: 15px; color: #fff; text-align: right;">
				<span ng-click="search_Save()">
					<font style="display: inline-block; vertical-align: bottom; padding-bottom: 3px;">현 조회조건 빠른검색 저장</font>
					<i class="ion-ios-checkmark-outline" style="color: #fff; font-size: 25px;"></i>
				</span>
			</div>

			<div style="padding-bottom: 30px; color: #fff; text-align: right;">
				<i class="ion-ios-close-outline" style="color: #fff; font-size: 3em; " ng-click="deletejego_m()"></i>
			</div>

		</div>
	</ion-content>
</ion-modal-view>
