<!-- 상세조회모달 -->
<ion-modal-view title="">
	<ion-header-bar class="bar bar-header" style="background: #8f6384; border:0;">
		<div class="buttons">
			<button class="button" ng-click="detailSet_closeModal()">back</button>
		</div>
		<h1 class="title" style="color: #fff;">전표 상세 조회</h1>
	</ion-header-bar>

	<ion-content >
		<tab-slide-box>
			<div class="tsb-icons"> <!-- class건들이면 안되요..ㅠㅠ -->
				<div class="tsb-ic-wrp"> <!-- class건들이면 안되요..ㅠㅠ -->
					<ion-scroll direction="x" class="tsb-hscroll">
						<a href="javascript:;">조회조건</a>
						<a href="javascript:;">최근검색</a>
						<a href="javascript:;">빠른검색</a>
					</ion-scroll>
				</div>
			</div>

			<ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index);slideChanged(index)" style="border-top: 1px solid #e0e0e0;">
				<!-- 조회조건 -->
				<ion-slide>
						<div class="item" style="border:0; height:100%; padding: 10px; background: #dce0e1; font-size: 0.9em; color: #444444;">

							<div style="background: #fff; padding: 40px 10px 30px 10px;">

								<div  style="clear: both; width:100%;">
									<div style="float: left; width:20%; padding-top: 7px; text-align: left;">검 색</div>
									<div style="float: left; width:70%;">
										<input type="text" ng-click='company_lately()' ng-model="company.username" placeholder="거래처명 입력" style="width: 100%; height: 30px; border:0; border-bottom: 1px solid #e0e0e0;" ng-change="company_auto()">

										<li class="item" ng-repeat="x in companyDatas" ng-click="company_Func(x.G_Name,x.G_Code,x.G_Damdang)">{{x.G_Name}}</li>
										<li class="item" ng-repeat="x in companylatelyDatas" ng-click="company_Func2(x.Search_Ger_Name,x.Search_Ger_Code,x.G_Damdang)">{{x.Search_Ger_Name}}</li>
									</div>
									<div style="float: left; width:10%;">
										<i class='ion-close-circled' style='margin-left:-40px; padding-right:10px; vertical-align:middle; font-size:1.8em; color:#000' ng-click='clearcompany()'></i>
										<button ng-click="detailset_up()" class="button button-small button-psm00 ion-search" style="margin-top: -5px; height: 30px;  font-size:2em;"></button>
									</div>
								</div>

								<div style="clear: both; width:100%; padding-top:20px;">
									<div style="float: left; width:20%; padding-top:9px; text-align: left;">일 자</div>
									<div style="float: left; width:38%;"><input type="date" ng-model="date.sDate1" ng-change="mydate1(date.sDate1)" style="width: 100%; height: 30px; border:0; border-bottom: 1px solid #e0e0e0; "></div>
									<div style="float: left; width:4%; padding-top:5px; "> ~ </div>
									<div style="float: left; width:38%;"><input type="date" ng-model="date.eDate1" ng-change="mydate2(date.eDate1)" style="width: 100%; height: 30px; border:0; border-bottom: 1px solid #e0e0e0; "></div>
								</div>

								<div  style="clear: both; width:100%; padding-top:20px;">
									<div style="float: left; width:20%; padding-top:6px; text-align: left;">매장지정</div>
									<div style="float: left; width:80%;">
										<select style="width:100%; height: 30px;" ng-model="detail.Place_Code">
											<option value='0' ng-selected="detail.Place_Code == 0">매장미지정</option>
											<!-- <option value='000' ng-selected="x.Sale_Place_Code == 000">매장미지정</option> -->
											<option ng-repeat="x in mejanglists" value="{{x.Sale_Place_Code}}">{{x.Sale_Place_Name}}</option>
										</select>
									</div>
								</div>

								<div  style="clear: both; width:100%; padding-top:20px;">
									<div style="float: left; width:20%; padding-top:6px; text-align: left;">담당자</div>
									<div style="float: left; width:80%;">
										<select style="width:100%; height: 30px;" ng-model='company.damid' ng-change="clearcompany();dam(damdanglist)">
											<option value='0' ng-selected="company.damid == 0">선택안함</option>
											<option ng-repeat="x in damdanglist" value="{{x.user_id}}" ng-selected="{{company.damid}} == {{x.user_id}}">{{x.user_name}}</option>
										</select>
									</div>
								</div>

								<div  style="clear: both; width:100%; padding-top:40px;">
									<button class="button button-small button-psm02" ng-click="quickdetail()" style="width:50%">빠른검색 등록</button>
								</div>

							</div>
						</div>
				</ion-slide>

				<!-- 최근검색 -->
				<ion-slide>
						<ion-scroll zooming="false" direction="y" style="width: 100%; height: 100%; clear: both;">
							<div align="center" style="background: #dce0e1; height:auto; font-size: 0.9em; color: #444444; padding: 0 10px; font-size: 0.9em;">

								<div style="padding: 10px 0 55px 0;">

									<table width="100%" style="text-align:center; background: #fff; margin-bottom: 10px;" ng-repeat="y in OptsetList" ng-click="OpsetScopeCarry($index)">
										<tr >
											<td rowspan="2" style="vertical-align:middle; text-align: left; width: 40%; padding: 8px 15px;">
												<span ng-if="y.sel_Ger_Name!=null&&y.sel_Ger_Name!=''">{{y.sel_Ger_Name}}</span>
												<span ng-if="y.sel_Ger_Name==null||y.sel_Ger_Name==''">미지정</span>
											</td>
											<td colspan="3" style="vertical-align:middle; text-align: left; width: 60%; padding-top: 8px;">{{y.sel_Sdate}} ~ {{y.sel_Edate}} </td>
										</tr>
										<tr>
											<td style="vertical-align:middle; text-align: left; width: 30%; padding:0 0 8px 0;" colspan="2">
												<span ng-if="y.sel_Place_Name!=null&&y.sel_Place_Name!=''">{{y.sel_Place_Name}}</span>
												<span ng-if="y.sel_Place_Name==null||y.sel_Place_Name==''">미지정</span>
											</td>
											<td style="vertical-align:middle; text-align: left; width: 30%; padding: 0 0 8px 0;">
												<span ng-if="y.sel_Damdang!=null&&y.sel_Damdang!='0'">{{y.sel_Damdang}}</span>
												<span ng-if="y.sel_Damdang==null||y.sel_Damdang=='0'">미지정</span>
											</td>
										</tr>
									</table>

								</div>

							</div>
						</ion-scroll>
				</ion-slide>

				<!-- 빠른검색 -->
				<ion-slide disable-scroll="true">
						<ion-scroll zooming="false" direction="y" style="width: 100%; height: 100%; clear: both;">

							<div align="center" style="background: #dce0e1; height:auto; font-size: 0.9em; color: #444444; padding: 0 10px; font-size: 0.9em;">

								<div style="padding: 10px 0 55px 0;">

									<table width="100%" style="text-align:center; background: #fff; margin-bottom: 10px;" ng-repeat="y in OptsetList">
									<tr>
										<td rowspan="2" style="vertical-align:middle; text-align: left; width: 40%; padding: 8px 15px;">
											<span ng-if="y.sel_Ger_Name!=null&&y.sel_Ger_Name!=''"  ng-click="OpsetScopeCarry($index)">{{y.sel_Ger_Name}}</span>
											<span ng-if="y.sel_Ger_Name==null||y.sel_Ger_Name==''"  ng-click="OpsetScopeCarry($index)">미지정</span>
										</td>
										<td colspan="3" style="vertical-align:middle; text-align: left; width: 60%; padding-top: 8px;"  ng-click="OpsetScopeCarry($index)">{{y.sel_Sdate}} ~ {{y.sel_Edate}}</td>
										<td rowspan="2"  style="vertical-align:middle; text-align: left; width: 10%; padding: 8px;"><i class='ion-close-circled' style="font-size: 2em;" ng-click='detailSet_Delete($index)'></i></td>
									</tr>
									<tr>
										<td style="vertical-align:middle; text-align: left; width: 25%; padding:0 0 8px 0;" colspan="2">
											<span ng-if="y.sel_Place_Name!=null&&y.sel_Place_Name!=''"  ng-click="OpsetScopeCarry($index)">{{y.sel_Place_Name}}</span>
											<span ng-if="y.sel_Place_Name==null||y.sel_Place_Name==''"  ng-click="OpsetScopeCarry($index)">미지정</span>
										</td>
										<td style="vertical-align:middle; text-align: left; width: 25%; padding: 0 0 8px 0;">
											<span ng-if="y.sel_Damdang!=null&&y.sel_Damdang!='0'" ng-click="OpsetScopeCarry($index)">{{y.sel_Damdang}}</span>
											<span ng-if="y.sel_Damdang==null||y.sel_Damdang=='0'" ng-click="OpsetScopeCarry($index)">미지정</span>
										</td>
									</tr>
									</table>
								</div>
							</div>
						</ion-scroll>
				</ion-slide>
			</ion-slide-box>
		</tab-slide-box>
	</ion-content>
</ion-modal-view>
