<!-- 매입/매출 상품조회 모달 -->
<ion-modal-view title="">
  <ion-header-bar class="bar-dark" style="background: #8f6384; border:0;" title-align="center">
    <div class="psmsmy_title_mo">상품 검색</div>
      <div class="buttons" style="position: absolute; right: 0px;">
            <i ng-click="goods_searchM_close()"><img src="./img/icon_close.png" class="psm_left_img3 psmsmy_close" ></i>
        </div>
  </ion-header-bar>

  <ion-header-bar class="bar bar-subheader" style="width: 100%; background: #fff; padding-bottom: 10px;">
    <table width="100%" style="background: #fff;">
      <tr>
        <td style="text-align:center; width: 27%; vertical-align: middle;">상품정보</td>
        <td style="width: 58%"><input type="text" ng-click='goods_lately()' placeholder="상품정보를 입력하세요" ng-model="user.userGoodsName" style="width: 100%; border: 1px solid #e0e0e0; padding: 15px 35px 15px 15px;"></td>
        <td style="width: 15%;">
            <i class='ion-android-close' style='text-align: left; margin-top:8px; padding-right:20px; margin-left:-25px; vertical-align:middle; font-size: 2em;'  ng-if="sbu == false"ng-click='clear_goods()'></i>
            <i class="ion-search" style="font-size: 2em;  margin-top:8px; vertical-align: middle;" ng-click="goods_searchM(1)"></i>
        </td>
      </tr>
    </table>
  </ion-header-bar>

  <ion-content style="background: #dce0e1">
    <ui>
      <li class="item" ng-repeat="x in goodlately_slists"  ng-click="goods_lately_serarch(x.Search_Goods_Name)">{{x.Search_Goods_Name}}</li>
    </ui>
    <div class="list list-inset" style="align:center; background: #dce0e1" >
      <table width="100%" style="text-align:center; background: #dce0e1">
        <tr>
          <td width="10%"></td>
          <td width="40%" style="text-align:center">상품코드</td>
          <td width="40%" style="text-align:center">상품명</td>
          <td width="10%"></td>
        </tr>
      </table>
      <table width="100%" style="text-align:center; background: #dce0e1">
        <tr>
          <td colspan="4"><hr></td>
        </tr>
      </table>
      <any ng-repeat="x in goodslists">
        <table on-swipe-up="goods_more()" style="width:  100%; background: #dce0e1">
          <tr>
            <td style="width:  90%; background: #fff; font-size: 0.9em;">
              <ion-checkbox ng-click='goodsCheck(x)'>
                {{x.G_Code}}<br>
                <span ng-bind-html='goodslists[$index].G_Name' style="font-size: 0.9em; display: inline-block; width: 95%; white-space: normal;"></span><br>
                <font style="font-size: 0.9em;">가용재고: </font><font color="red" ng-if="x.Jego<=0">{{x.Jego|number:0}}</font>
                <font color="blue" ng-if="x.Jego>0">{{x.Jego|number:0}}</font>
              </ion-checkbox>
            </td>
            <td style='width:10%; padding-left:9px; vertical-align: middle; background: #dce0e1'>
              <i class="ion-ios-help" style="font-size:30pt; margin-left:7px; color:#5b5b5b; margin-top:5px; " ng-if="priv_productYM == 'Y'" ng-click='goodsDetail($index)'></i>
              <i class="ion-ios-help" style="font-size:30pt; margin-left:7px; color:#5b5b5b; margin-top:5px; " ng-if="priv_productYM == 'N'" ng-click='goods_priv()'></i>
            </td>
          </tr>
          <tr ng-if="moreloading==1&&$last">
            <td colspan="2" align="center" style="width:100%"><ion-spinner icon="spiral"></ion-spinner></td>
          </tr>
        </table>
      </any>
    </div>
  <br><br>
  </ion-content>

  <ion-footer-bar style="width: 100%; background: #736777; border: 0; ">
    <table style="width: 100%;">      
      <tr>
        <td style="text-align: left;">
          <button class='button button-psm04' ng-click="GoodsJego();ActsLog('jego', 'jego_meaipchul_pro')">선택상품 재고 조회</button>
        </td>
        <td style="text-align: right;">
          <button class="button button-psm02" ng-click="checkdataSave()">등록</button>
        </td>
      </tr>
    </table>
  </ion-footer-bar>
</ion-modal-view>
