<!-- 매입 + 매출 지급 정보 모달 -->
<ion-modal-view>
  <ion-header-bar class="bar-dark" style="background: #8f6384; border:0;" title-align="center">
    <div class="buttons">
      <button class="button button-clear" ng-click="ijmodalCancel()" style="color: #fff;">〈 뒤로</button>
    </div>
    <div class="psmsmy_title_mo"><any ng-if="distinction == 'meaip'">매입</any><any ng-if="distinction == 'meachul'">매출</any> {{mode}}</div>
  </ion-header-bar>

  <ion-content style="background: #dce0e1">
    <div class="list list-inset">
      <label class="item item-input" style="padding-right: 15px;">
        <span class="input-label psm_sang_04"><any ng-if="distinction == 'meaip'">매입액</any><any ng-if="distinction == 'meachul'">매출액</any></span>
        <span style="padding-right: 5px; text-align: right; width: 100%"><input type="text" style="text-align:right; width: 100%;" readonly value='총 {{totalnum}}개 / {{datas.totalsumprices | number:0}}원'></span>
      </label>
    </div>

    <div class="list list-inset" style="background: #dce0e1">
      <div style="padding-bottom: 7px; font-weight: bold; width: 100%;">
        <table style="width: 100%;">
          <tr>
            <td style="width: 50%;"><any ng-if="distinction == 'meaip'">지급정보</any><any ng-if="distinction == 'meachul'">입금정보</any></td>
            <td style="width: 50%; text-align: right; padding-right: 1px;"><span ng-if='pay.delete == false'>
            <button ng-click='paydelete()' style="background: #dd8369; border: 0; padding: 5px; color: #fff; font-size: 0.85em;">삭제</button></span></td>
          </tr>
        </table>
      </div>
      <label class="item item-input" style="padding-right: 15px;">
        <span class="input-label psm_sang_04"><any ng-if="distinction == 'meaip'">지급일</any><any ng-if="distinction == 'meachul'">입금일</any></span>&nbsp;&nbsp;
        <input type="date" style="text-align:right; border-bottom: 1px solid #e0e0e0;" ng-disabled="tax_u" ng-model='date.payday1' ng-change="datechange(date.payday1,2)"><br>
      </label>
      <div class="input-label psm_sang_04"><any ng-if="distinction == 'meaip'">지급구분</any><any ng-if="distinction == 'meachul'">입금구분</any></div>
      <label class="item">
        <table style="width: 100%;">
          <tr>
            <td style="width: 50%"><ion-checkbox style="font-size:12px; border-radius: 0;" ng-disabled="tax_u" ng-click='Payments_division(0)' ng-model='payment[0].checked'>현금<any ng-if="distinction == 'meaip'">결제</any><any ng-if="distinction == 'meachul'">입금</any></ion-checkbox></td>
            <td style="width: 50%"><ion-checkbox style="font-size:12px; border-radius: 0;" ng-disabled="tax_u" ng-click='Payments_division(1)' ng-model='payment[1].checked'>통장<any ng-if="distinction == 'meaip'">결제</any><any ng-if="distinction == 'meachul'">입금</any></ion-checkbox></td>
          </tr>
          <tr>
            <td style="width: 50%"><ion-checkbox style="font-size:12px; border-radius: 0;" ng-disabled="tax_u" ng-click='Payments_division(2)' ng-model='payment[2].checked'>어음<any ng-if="distinction == 'meaip'">결제</any><any ng-if="distinction == 'meachul'">입금</any></ion-checkbox></td>
            <td style="width: 50%"><ion-checkbox style="font-size:12px; border-radius: 0;" ng-disabled="tax_u" ng-click='Payments_division(3)' ng-model='payment[3].checked'>카드<any ng-if="distinction == 'meaip'">결제</any><any ng-if="distinction == 'meachul'">입금</any></ion-checkbox></td>
          </tr>
        </table>
      </label>
    </div>

    <div class="list list-inset">
      <label class="item item-input" ng-if="paytype">
        <span class="input-label psm_sang_04">&nbsp;&nbsp;<any ng-if="distinction == 'meaip'">지급</any><any ng-if="distinction == 'meachul'">입금</any>{{payname}}</span>
        <select ng-if="paytype"  ng-disabled="tax_u" ng-model="pay.paycardbank" ng-change='payinsert()' style="width: 62%; height: 30px;">
          <option value='no' ng-selected="pay.paycardbank == no">====</option>
          <option ng-repeat='x in paycardbank' value='{{x.code}},{{x.name}},{{x.num}}' ng-selected="pay.codenum == {{x.code}}">{{x.name}}</option>
        </select>
      </label>

      <label class="item item-input" style="text-align: right; width: 100%; padding-right: 20px;">
        <span class="input-label psm_sang_04" style="text-align: left;">&nbsp;&nbsp;<any ng-if="distinction == 'meaip'">지급액</any><any ng-if="distinction == 'meachul'">입금액</any></span>
        <input type="tel" ng-disabled="pay.use" style="text-align:right; width: 100%; text-align: right; border-bottom: 1px solid #e0e0e0;" min='0' value='0' ng-model='pay.payprice' fcsa-number="{ preventInvalidInput: true }" pattern="\d*"><font size="font-size: 0.8em;">원</font>
      </label>
    </div>
    <div style="padding: 0 10px;">
      <button class="button button-block psm_login_ink" ng-click="insertGoodsF()" style="background: #52bcae; line-height: 17px;">
        등록<br>
        <span ng-if="pay.use == true"><any ng-if="distinction == 'meaip'">(지급</any><any ng-if="distinction == 'meachul'">(입금</any>전표 없이 등록)</span>
      </button>
    </div>
  </ion-content>
</ion-modal-view>
