<!-- 매입 등록/수정 페이지 -->
<ion-view title="간편매입 {{mode}}" cache-view="false" style="color: #fff" class="bar-dark">
<ion-nav-bar>
<ion-nav-back-button ng-click="backControll()">Back</ion-nav-back-button>
</ion-nav-bar>

<ion-content style="color:#444444; background: #dce0e1">
<div>
	<div  style="background: #dce0e1; width: 100%; padding: 10px;" >
		<div style="background: #fff; width: 100%; padding-right: 10px;" >
			<label class="item-input" style="border:0; width: 100%;">
			<span style="display: inline-block; width: 100px; text-align: left">매입일</span>
			<span style="display: inline-block; width: 100%; text-align: right;">
			<input type="date" ng-disabled="{{sbu}}" style="width: 100%; border-bottom: 1px solid #e0e0e0; text-align: right;" ng-model='date.todate1' ng-change="datechange(date.todate1,1)">
			</span>
			</label>
		</div>
	</div>
	<div class="list list-inset" style="padding: 10px; margin-top: 10px; text-align: left;">
		<div ng-click="Next()"><i class="{{upAnddown}}"></i> &nbsp;&nbsp; 매입정보</div>
		<div ng-if="basictype" style="align:center; padding-top:15px">
			<table width="100%" class=""style="align:center;vertical-align:middle;">
				<tr>
					<td width="100px;">거래처</td>
					<td style="text-align: right;">
						<input type="search" ng-click='company_lately()' ng-model="datas.userGerName" ng-disabled="{{sbu}}" placeholder="거래처명검색" size="25" style="width: 100%; border:1px solid #eee; padding-left: 10px; -webkit-appearance:none; -webkit-border-radius: 0;" ng-change="company_auto()">
					</td>
					<td width="50px;" style="text-align: right;">
						<i class='ion-close-circled' style='margin-left:-38px; margin-top:8px; padding-right:16px; vertical-align:middle; font-size:25px;' ng-if="sbu == false" ng-click='clearcompany()'></i>
						<i class='ion-help-circled' style='font-size:35px;vertical-align:middle;' ng-click='gerDetail()'></i>
					</td>
				</tr>
			</table>

			<div class="list">
				<li class="item" ng-repeat="x in companyDatas" style="background: #ebebeb" ng-click="company_Func(x.G_Name,x.G_Code);checkup()">{{x.G_Name}}</li>
				<li class="item" ng-repeat="x in companylatelyDatas" style="background: #ebebeb" ng-click="company_Func2(x.Search_Ger_Name,x.Search_Ger_Code);checkup()">{{x.Search_Ger_Name}}</li>
			</div>

			<table width="100%" class=""style="align:center;vertical-align:middle;">
				<tr>
					<td width="100px;">수불구분</td>
					<td><ion-radio ng-click="checkup()" ng-disabled="{{sbu}}" ng-model="datas.subulkind" ng-value="111" style="font-size: 0.8em; border-radius: 0;">매입<br>입고</ion-radio></td>
					<td><ion-radio ng-click="checkup()" ng-disabled="{{sbu}}" ng-model="datas.subulkind" ng-value="122" style="font-size: 0.8em; border-radius: 0;">매입<br>반품</ion-radio></td>
				</tr>
			</table>

			<div class="item item-input item-select" style="border:0; padding-left: 0; margin-top: 20px;">
				<table width="100%" style="align:center;vertical-align:middle;">
					<tr>
						<td style="width: 100px;">매장지정</td>
						<td style="border-bottom: 1px solid #e0e0e0; height: 28px; vertical-align: middle;">
							<select ng-model="setupData.basic_Place_Code" ng-change='Link_Chango();checkup()' style="width:100%; border-bottom: 1px solid #e0e0e0;">
							<option value="000" ng-selected="setupData.basic_Place_Code == 000">매장미지정</option>
							<option ng-repeat="x in mejanglists" value="{{x.Sale_Place_Code}}" ng-selected="setupData.basic_Place_Code == {{x.Sale_Place_Code}}">{{x.Sale_Place_Name}}</option>
							</select>
						</td>
					</tr>
				</table>
			</div>

			<div class="item item-input item-select" style="border:0; padding-left: 0; margin-top: 20px;">
				<table width="100%" style="align:center;vertical-align:middle;">
					<tr>
						<td style="width: 100px;">창고지정</td>
						<td style="border-bottom: 1px solid #e0e0e0; height: 28px; vertical-align: middle;">
							<select ng-model="setupData.basic_Ch_Code" ng-change='Changosave({{x.Code}});checkup()' style="width:100%; border-bottom: 1px solid #e0e0e0;">
							<option ng-repeat="x in changolists" value="{{x.Code}}" ng-selected="setupData.basic_Ch_Code == {{x.Code}}">{{x.Name}}</option>
							</select>
						</td>
					</tr>
				</table>
			</div>

		</div>
	</div>

	<div class="list list-inset" align="left" style="padding: 10px;">
		<div ng-click="Next2()"><i class="{{upAnddown2}}"></i> &nbsp;&nbsp; 상품</div>
		<div ng-if="basic2type">
			<div class="list list-inset" style="align:center;" >
				<table width="100%" ng-if="sbu == false">
					<tr>
						<td>
							<select ng-model="user.userMode" ng-change="modeselect()" style="width: 100%; padding: 0 10px;">
							<option ng-repeat="x in modeselectlist" value="{{x.Code}}" ng-selected="user.userMode == x.Code">{{x.Name}}</option>
							</select>
							&nbsp;&nbsp;
						</td>
						<td style="width: 90px"><i class="ion-ios-barcode" style="font-size: 2.5em; padding-top: 15px; padding-left:10px; vertical-align:middle; text-align: right;" ng-click="scanBarcode()"></i></td>
					</tr>
					<tr>
						<td><input type="text" ng-click='goods_lately()' placeholder="상품정보를 입력하세요" ng-model="user.userGoodsName" style="width: 100%; padding: 15px; border: 1px solid #e0e0e0;"></td>
						<td>
							<i class='ion-close-circled' style='text-align: left; margin-top:8px; padding-right:16px; padding-left:10px; vertical-align:middle; font-size: 2em;'  ng-if="sbu == false"ng-click='clear_goods()'></i>
							<i class="ion-search" style="text-align: left; margin-top:8px; vertical-align:middle; font-size: 2.2em;" ng-click="goods_searchM(1)"></i>
						</td>
					</tr>
				</table>
				<div>
					<li class="item" ng-repeat="x in goodlately_slists"  ng-click="goods_lately_serarch(x.Search_Goods_Name)">{{x.Search_Goods_Name}}</li>
				</div>
				<table width="100%" style="text-align:center; margin: 10px 0;">
					<tr bgcolor="#EAEAEA">
						<td style="font-size:0.8em; padding: 7px 0;">No</td>
						<td style="font-size:0.8em; padding: 7px 0;">상품명</td>
						<td style="font-size:0.8em; padding: 7px 0;">수 량</td>
						<td style="font-size:0.8em; padding: 7px 0;" colspan='2'>단 가</td>
					</tr>
					<tr ng-repeat="y in goodsaddlists">
						<td style="width: 10%; vertical-align:middle; padding:10px 0; border-bottom: 1px solid #e0e0e0;">{{$index+1}}.</td>
						<td style="width: 42%; vertical-align:middle; padding:10px 0; text-align:left; font-size: 0.9em; padding-right: 10px; border-bottom: 1px solid #e0e0e0;">{{y.name}}</td>
						<td style="width:13%; vertical-align:middle; padding:10px 0; border-bottom: 1px solid #e0e0e0;">
							<input type="number" ng-disabled="{{sbu}}" min="0" max="100000" ng-bind-html="goods_totalprice1($index)" style="text-align:right; border: 1px solid silver; width:100%" ng-model="y.num" required>
						</td>
						<td align="right" style="width:25%; padding:10px 1%; vertical-align:middle; border-bottom: 1px solid #e0e0e0;">
							<input type="tel" ng-disabled="{{sbu}}" style="width:100%; border: 1px solid silver; text-align: right; padding: 0 5px;" ng-change="goods_totalprice1($index)" ng-model="y.goodsprice" fcsa-number="{ preventInvalidInput: true }" pattern="\d*"/>
						</td>
						<td style="width: 10%; vertical-align: middle; padding:10px 0; border-bottom: 1px solid #e0e0e0;"><i class="ion-android-remove-circle" ng-if="sbu == false" ng-click="goodsDelete($index);goods_totalprice1()" style="font-size: 2em; margin-top: 10px;  vertical-align: middle;"></i>&nbsp;</td>
					</tr>
				</table>
			</div>
			<div class="list list-inset" align="right">
				<b style="font-size: 0.9em;">최종가격 : </b><font style="color: #db856f; font-size: 1.3em; font-weight: bold;">{{datas.totalsumprices | number:0}} 원</font>
			</div>
		</div>
	</div>

	<div class="list list-inset" style="padding: 10px;" align="left">
		<div ng-click="Next3()" style="width: 100%;"><i class="{{upAnddown3}}"></i> &nbsp;&nbsp; 관리비고</div>
		<div ng-if="basic3type" class="list list-inset">
			<label class="item item-input item-stacked-label">
			<textarea placeholder="관리자비고란 입니다." rows="8" cols="10" ng-model="datas.remk"></textarea>
			</label>
		</div>
	</div>
</div>
<br><br>
</ion-content>

<ion-footer-bar align-title="left" class="bar-assertive" ng-click='ijmodal_function()' style="background: #52bcae; border: 0;">
<div class="buttons"></div>
<h1 class="title">다음<h1>
<div class="buttons"></div>
</ion-footer-bar>
</ion-view>

