<!-- 빠른등록 리스트 모달 -->
<ion-modal-view title="" >
	<ion-header-bar class="bar-dark" style="background: #8f6384; border:0;" title-align="center">
		<div class="psmsmy_title_mo">즐겨찾기리스트</div>
		<div class="buttons" style="position: absolute; right: 0px;">
		<i ng-click="quickMcancle()"><img src="./img/icon_close.png" class="psm_left_img3 psmsmy_close" ></i>
		</div>
	</ion-header-bar>

	<ion-content style="padding:10px; background: #dce0e1;">
		<ion-checkbox ng-repeat='x in quicklists' ng-model="x.checked"  ng-click='quickcheck($index)' style="background: #fff; font-size: 0.9em;">
			{{x.GerName}}<br>
			<any ng-if='x.Subul_kind == 111'>매입입고</any><any ng-if='x.Subul_kind == 122'>매입반품</any><any ng-if='x.Subul_kind == 212'>매출반품</any><any ng-if='x.Subul_kind == 221'>매출출고</any>/ {{x.GoodsName}}
		</ion-checkbox>
		<div style="height: 23px;"></div>
	</ion-content>

	<ion-footer-bar style="width: 100%; background: #736777; border: 0; ">
	    <table style="width: 100%;">      
	      <tr>
	        <td style="text-align: left;"><button class="button button-psm02" ng-click="quickde();closemodesear()">삭제</button></td>
	        <td style="text-align: right;"><button class="button  button-psm01" ng-click="quick_i()">등록</button></td>
	      </tr>
	    </table>
	  </ion-footer-bar>
</ion-modal-view>


