<ion-view view-title="Login" class="psm_login_body">
	<ion-header-bar class="bar-dark">
		<h1 class="title ">Login</h1>
	</ion-header-bar>
	<ion-content style="background: #d9dfdf">
		<div style="padding-bottom: 80px">
			<div class="ss">
				<p style="float:right">Ver. 베타</p>
				<div class="psm_login_logo"><img src="./img/logo.png" class="logo-image" ng-click='selectType("login")'>
				<i class="ion-ios-help" style="font-size:20pt; float:right; margin-right:10%" ng-click="loginhelper()"></i></div>
			</div>
			<div>
				<span class="button-bar" style="margin:0px 10% 0px 10%; background-color: transparent; width:80%">
					<a class="button" ng-click='selectType("ERPia")' ng-if="userType!='ERPia'" style="font-size:6pt;">ERPia</a>
					<a class="button button-energized" ng-click='selectType("ERPia")' ng-if="userType&&userType=='ERPia'" style="color:'yellow'">ERPia</a>
					<a class="button" ng-click='selectType("SCM")' ng-if="userType!='SCM'" style="font-size:7pt">SCM</a>
					<a class="button button-energized" ng-click='selectType("SCM")' ng-if="userType&&userType=='SCM'" style="color:'yellow'">SCM</a>
					<a class="button"  ng-click='selectType("Normal")' ng-if="userType!='Normal'" style="font-size:6pt">거래명세서</a>
					<a class="button button-energized"  ng-click='selectType("Normal")' ng-if="userType&&userType=='Normal'" style="color:'yellow'; font-size:8pt ">거래명세서</a>
					<a class="button"  ng-click='selectType("Guest")' style="font-size:7pt">체험하기</a>
				</span>
					
				<br>
				<div name='selectUserType'>
					<form ng-submit="doLogin()">
						
						<div class="list list-inset" style="margin:0px 10% 0px 10%; background-color:transparent">
							<label class="item item-input" style="padding: 0;"><span class="psm_login1 ion-ios-paper-outline"></span>
								<input style="font-size:100%; padding-left: 15px; text-transform: lowercase" type="text" ng-model="loginData.Admin_Code" placeholder="업체코드">
								<input type="checkbox" id="loginckbox.AdminCodeCK" class="checkbox-style" ng-model='loginckbox.AdminCodeCK'/>
								<label for="loginckbox.AdminCodeCK" style="font-size:100%;">저장</label>
							</label>
							<label class="item item-input" style="padding: 0;"><span class="psm_login2 ion-ios-grid-view-outline"></span>
								<input style="font-size:100%; padding-left: 15px; text-transform: lowercase" type="text" ng-model="loginData.UserId" placeholder="아이디">
								<input type="checkbox" id="loginckbox.UserIdCK" class="checkbox-style" ng-model='loginckbox.UserIdCK' />
								<label for="loginckbox.UserIdCK" style="font-size:100%;">저장</label>
							</label>
							<label class="item item-input" style="padding: 0;"><span class="psm_login3 ion-ios-locked-outline"></span>
								<input style="font-size:100%; padding-left: 15px;" type="password" ng-model="loginData.Pwd" placeholder="비밀번호">
								<input type="checkbox" id="loginckbox.PwdCK" class="checkbox-style" ng-model='loginckbox.PwdCK'/>
								<label for="loginckbox.PwdCK" style="font-size:100%;">저장</label>
							</label>
							<div class="item item-text-wrap" style="padding:4%;">
								<input type="checkbox" id="loginData.chkAutoLogin" class="checkbox-style" ng-model='loginData.chkAutoLogin'/>
								<label for="loginData.chkAutoLogin" style="font-size:100%;">자동로그인</label>
							</div>
							<button class="button button-block button-balanced" type="submit" style="border: 0; background: #6c5e72">Log in</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</ion-content>
</ion-view>
