<ion-view view-title="상담하기" hide-nav-bar={{sideMenuHide}}>
	<ion-nav-back-button></ion-nav-back-button>
	<ion-nav-buttons side="right" ng-show="false">
		<button class="button button-icon button-clear {{icon_home}}" menu-close ng-click="goHome()"></button>
	</ion-nav-buttons>
	<ion-content>
		<!-- <a href="tel:070-7012-3071" class="button button-positive"> call me</a> -->

		<div class="list list-inset" style="margin-top:10px; padding-bottom: 100px;">
			<img src="./img/img_junhwa.jpg" width="100%; margin-bottom:-10px;" ng-click="dialNumber(' 07070123071')">
			<label class="item item-input" style="padding: 0">
				<span class="input-label psm_sang_01">*회사명 : </span>
				<input type="text" placeholder="회사명" ng-model="csData.comName"><br>
			</label>
			<label class="item item-input" style="padding: 0">
				<span class="input-label psm_sang_01">*작성자 : </span>
				<input type="text" placeholder="작성자" ng-model="csData.writer"><br>
			</label>
			<label class="item item-input" style="padding: 0">
				<span class="input-label psm_sang_01">*제목 : </span>
				<input type="text" placeholder="제목" ng-model="csData.subject"><br>
			</label>
			<label class="item item-input" style="padding: 0">
				<span class="input-label psm_sang_01">*연락처 : </span>
				<input type="tel" placeholder="-제외 입력하세요" ng-model="csData.tel"> 
				<button style="font-size:8pt" > 인증번호발송</button><br>
			</label>
			<label class="item item-input" style="padding: 0">
				<span class="input-label psm_sang_01">*인증번호 : </span>
				<input type="text" placeholder="인증번호발송을 눌러주세요" ng-model="csData.cs_certify_no"> 
			</label>
			<label class="item item-input" style="padding: 0">
				<span class="input-label psm_sang_01">*업종 : </span>
				<select ng-model="csData.sectors" class="psm_sang_02">
					<option ng-if='csData.sectors == ""' value='' ng-selected="csData.sectors == ''">필수사항입니다.</option>
					<option ng-repeat="item in sectorslist" ng-value="item.value">{{item.value}}</option>
				</select>
			</label>
			<label class="item item-input" style="padding: 0" ng-click="Interests_Modalopen()">
				<span class="input-label psm_sang_01">*관심항목 : </span>
					<a ng-if='csData.interestTopic == ""' >관심항목 선택(*필수)</a>
					<a ng-if='csData.interestTopic != ""'  >{{csData.interestTopic1}}</a>
				<br>
			</label>
			<label class="item item-input" style="padding: 0">
				<span class="input-label psm_sang_01">*유입경로 : </span>
				<select ng-model="csData.inflowRoute" class="psm_sang_02">
					<option ng-if='csData.inflowRoute == ""' value='' ng-selected="csData.inflowRoute == ''">선택안함(필수x)</option>
					<option ng-repeat="item in inflowRoutelist" ng-value="item.value">{{item.value}}</option>
				</select>
			</label>
			<label class="item item-input" style="padding: 0;">
				<span class="input-label psm_sang_01" style="margin-right: 0; height: 150px; padding-top: 60px;">*문의사항 : </span>
				<textarea placeholder="내용을 입력하세요" class="psm_sang_03" ng-model="csData.contents"></textarea>
			</label>
			<div class="item item-divider" style="height:30%">
			  <input type="checkbox" id="agree_2" class="checkbox-style" ng-model='cscustomagree' ng-click='csagree()'/>
			  <label for="agree_2">개인정보 이용 및 활용동의</label>
			  <button ng-click='csagreemodalopen()'>전문보기</button>
			</div>
			<form ng-submit="csRegist()">
				<button class="button button-block psm_login_ink" type="submit">등록</button>
			</form>
		</div>

	</ion-content>
</ion-view>
