<!-- 관심항목 체크 모달 -->
<ion-modal-view title="">
  <ion-header-bar class="bar-dark" style="background: #8f6384; border:0;" title-align="center">
    <div class="psmsmy_title_mo">관심항목</div>
      <div class="buttons" style="position: absolute; right: 0px;">
            <i ng-click="Interests_Modalclose()"><img src="./img/icon_close.png" class="psm_left_img3 psmsmy_close" ></i>
        </div>
  </ion-header-bar>

  <ion-content style="background: #dce0e1">
      <any ng-repeat="x in interestTopiclist">
        <table style="width:  100%; background: #dce0e1">
          <tr>
            <td style="width:  100%; background: #fff; font-size: 0.9em;">
              <ion-checkbox ng-model="x.checked" ng-checked='x.checked' ng-change="Interests_Save()">
                {{x.value}}
              </ion-checkbox>
            </td>
          </tr>
        </table>
      </any>
    </div>
  <br><br>
  </ion-content>

  <ion-footer-bar align-title="left" class="bar-assertive" style="background: #988e9a; border: 0;">
    <h1 class="title"></h1>
    <div class="buttons" ng-click="Interests_Modalclose()"><button class="button button-psm01">등록</button></div>
  </ion-footer-bar>
</ion-modal-view>


