<ion-modal-view class="psm_login_body" style="height:100%; padding-top:40px;">
	<div class="bar bar-header bar-balanced">
		<h1 class="title">이용약관</h1>
	</div>
	<div class="card" style="height:80%">
		<div class="item item-divider">
			개인정보수집 및 제공에 대한 동의(필수)
		</div>
		<div class="item item-text-wrap" style="overflow-y:scroll; height:80%; font-size:14px;">
주식회사 원제로소프트는 (이하 “회사”) 고객님의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호"에 관한 법률을 준수하고 있습니다. 회사는 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려 드립니다.<br>
<br>
제1조 (수집하는 개인정보 항목)<br>
<br>
가. 수집하는 항목<br>
회사는 원활한 가입상담, 각종 서비스의 제공, 고객관리, 마케팅 활용 등의 목적을 위해 아래와 같은 개인정보를 수집하고 있습니다.<br>
<br>
- 수집항목(필수) :　OS버전 정보, 휴대전화번호, 기기식별번호(UUID), 서비스이용기록, 접속 로그<br>
- 수집항목(선택) : 명세서 발송 이메일주소ㆍ전화번호, 카카오톡 이용자ID, 맥어드레스<br>
<br>
나. 개인정보 수집방법<br>
<br>
- 수집항목(필수) 정보는 서비스를 설치한 이용자가 약관동의 후 자동적으로 수집합니다. 수집항목(선택) 정보는 회원이 거래명세서 발송 및 카카오톡 발송 등 각각의 서비스 이용 시점에 수집합니다.<br>
<br>
제2조 (개인정보의 수집 및 이용목적)<br>
<br>
가. 이용목적<br>
회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 개인정보 보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행합니다.<br>
<br>
- 가입상담 :　이용자의 가입상담 신청 후 컨설팅 목적 (서비스 내 신규 가입신청을 신청한 회원에 한함)<br>
- ERPia(이하 “서비스”) 기본기능 제공 : 거래명세서 발송 SMS 및 E-mail 발송, 카카오톡을 통한 발송, 스캐너를 이용한 상품 스캔 등의 목적<br>
- 고객관리 : 회원제 서비스 이용에 따른 본인확인, 불만처리 등 민원처리의 목적<br>
- 마케팅 및 광고의 활용　: 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계, 서비스 품질 개선 및 신규서비스 제공, 이벤트 등 광고성 정보전달의 목적<br>
<br>
제3조 (개인정보의 보유 및 이용기간)<br>
<br>
가. 개인정보의 보유 <br>
원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.<br>
<br>
나. 보존기간<br>
보존항목 : 명세서 발송 이메일주소˙전화번호, 서비스이용기록, 접속 로그<br>
보존이유 : 서비스 재사용대비 기록관리<br>
보존기간 : 6개월<br>
<br>
제4조 (개인정보의 파기)<br>
회사는 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체 없이 해당 개인정보를 파기합니다.<br>
정보주체로부터 동의 받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보를 별도의 데이터베이스(DB)로 옮기거나 보관장소를 달리하여 보존합니다.<br>
<br>
가. 개인정보 파기 방법<br>
- 종이(서면)에 작성 출력된 개인정보는 분쇄하거나 소각을 통하여 파기<br>
- DB등 전자적 파일 형태로 저장된 개인정보는 재생할 수 없는 기술적 방법으로 삭제<br>
<br>
제5조 (개인정보의 제3자 제공)<br>
회사는 정보주체의 개인정보를 제2조(개인정보의 수집 및 이용목적)에서 명시한 범위 내에서만 처리하며, 정보주체의 사전동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 정보주체의 개인정보를 외부에 공개하지 않습니다.<br>
<br>
가. 개인정보 제3자 제공의 경우<br>
- 정보주체가 사전에 공개에 동의한 경우<br>
- 관련 법령의 특별한 규정이 있는 경우<br>
- 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우<br>
<br>
제6조 (정보주체의 권리ㆍ의무 및 와 행사방법)<br>
<br>
가. 정보주체의 권리 행사<br>
- 개인정보 열람요구<br>
- 오류 등이 있을 경우 정정 요구<br>
- 삭제요구<br>
<br>
나. 권리 행사 방법<br>
- 회사에 대해 서면, 전화, 전자우편, 모사전송(Fax) 등을 통하여 하실 수 있으며 회사는 이에 대해 지체 없이 조치하겠습니다.<br>
- 정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 회사는 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다.<br>
- (가)에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.<br>
- 정보주체는 개인정보 보호법 등 관계법령을 위반하여 회사가 처리하고 있는 정보주체 본인이나 타인의 개인정보 및 사생활을 침해하여서는 안됩니다.<br>
<br>
제7조 (개인정보 자동수집 장치의 설치 및 운영)<br>
<br>
- 회사는 서비스를 제공하기 위하여 최초 로그인 후 이용약관 동의를 완료하는 시점에 서비스 제공에 필요한 정보주체의 최소한의 개인정보 필수항목을 자동으로 수집합니다.<br>
- 회원은 이용약관 동의 단계를 완료하기 이전에 서비스 이용 철회를 통해 개인정보 필수항목 수집을 거절할 수 있습니다. 다만, 최소한의 개인정보 필수항목 수집을 거부할 경우에는 서비스 이용이 불가능합니다.<br>
<br>
제8조 (개인정보의 안정성 확보조치)<br>
<br>
회사는 정보주체의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손 등이 되지 않도록 안정성 확보를 위하여 다음과 같은 기술적/관리적 대책을 강구하고 있습니다.<br>
1. 기술적 보호대책<br>
- 회사는 해킹이나 컴퓨터 바이러스 등에 의해 회원의 개인정보가 유출되거나 훼손되는 것을 막기 위해 최선을 다하고 있습니다.<br>
- 회사는 시스템적인 보완성을 확보하기 위해 가능한 모든 기술적 장치를 갖추려 노력하고 있습니다.<br>
2. 관리적 보호대책<br>
- 회사는 사내 개인정보보호 관련부서 등을 통해서 회사의 개인정보처리방침 이행사항 및 담당자의 준수여부를 확인하여 문제가 발견될 경우 즉시 수정하고 바로잡을 수 있도록 노력하고 있습니다.<br>
<br>
회사는 정보주체 본인의 부주의나 기본적인 인터넷의 위험성 때문에 일어나는 문제에 대해서는 책임을 지지 않습니다.<br>
<br>
제9조 (개인정보 보호책임자)<br>
<br>
회사는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.<br>
<br>
<br>
[개인정보 보호책임자]<br>
성명 : 이용현<br>
소속 : 기업부설연구소<br>
직위 : 이사<br>
번호 : 070-7012-3081<br>
메일 : storm7054@erpia.net<br>
<br>
[개인정보 보호 담당부서]<br>
성명 : 이정열<br>
소속 : 기업부설연구소<br>
직위 : 책임연구원<br>
번호 : 070-7012-5140<br>
메일 : nanugo@erpia.net<br>
<br>
정보주체는 회사의 서비스를 이용하면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의할 수 있습니다. 회사는 정보주체의 문의에 대해 지체 없이 답변 및 처리해드릴 것입니다.<br>
<br>
제10조 권익침해 구제방법<br>
정보주체는 아래의 기관에 대해 개인정보 침해에 대한 피해구제, 상담 등을 문의할 수 있습니다.<br>
<br>
- 개인분쟁조정위원회 (www.1336.or.kr/1336) <br>
- 정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4) <br>
- 대검찰청 인터넷범죄수사센터 (http://icic.sppo.go.kr/02-3480-3600) <br>
- 경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330) <br>
<br>
제11조 개인정보처리방침 변경<br>
이 개인정보처리방침은 2015. 11. 06일 부터 적용됩니다.<br>
		</div>
		<div class="item item-divider" style="height:20%">
			<input type="checkbox" id="agree_2" class="checkbox-style" ng-model='cscustomagree' ng-click='csagree()'/><label for="agree_2">동의합니다</label>
		</div>
	</div>
	<table style="width:100%;">
		<tr>
			<td width="10%"></td>
			<td width="40%" align="center"><button style="margin-right:5px; width:90px;" class="button button-balanced" type="submit" ng-click='csagreemodalclose()'>확인</button></td>

			<td width="10%"></td>
		</tr>
	</table>
</ion-modal-view>