<!-- 거래처조회 -->
<style>
table table.style1 {background: #EDEDED; width: 100%; border-top: 1px solid #e0e0e0; border-left: 1px solid #e0e0e0; table-layout:fixed;  font-size: 0.85em; }
table table.style2 {background: #fff; width: 100%; font-size: 0.85em;}
table td.td1-1{width:20%; text-align:center; vertical-align:middle; color: #fff;}
td.td1-2{width:55%; vertical-align:middle; margin-top:20px}

td.resulttd1-1{border-right: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; width: 40%; padding: 4px 10px; text-align: left;}
td.resulttd1-2{border-bottom: 1px solid #e0e0e0; width: 60%; padding: 4px 10px; text-align: left;}

</style>

<ion-view cache-view="false" hide-back-button="true">
	<ion-nav-title>
		<div class="psmsmy_title_co">거래처조회</div>
	</ion-nav-title>
<!-- 	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-outline button-positive" style="border-color: #fff;" ng-click="Goods_Gerea_IU(1)">
			<sapn style="color: #fff; font-size: 0.8em; line-height: 14px;  display: inline-block; margin-top: 1px;">간편<br>등록</sapn>
		</button>
	</ion-nav-buttons> -->
	<ion-content style="background: #dce0e1;" scroll="true">
		<div class="item" style="background: #6c5e72; border:0; padding-top:15px;">
			<div  style="clear: both; width:100%">
				<div style="font-size: 0.75em; color: #fff;">* 거래처명,거래처코드,사업자번호를 입력해주세요.</div>
			</div>
			<div  style="clear: both; width:100%">
				<div style="float: left; width:20%; padding-top:6px; color: #fff;"> 
					<select ng-model="GereacheInfo.g_iogu" style="height: 30px; font-size: 0.8em; background: #6c5e72; border:0; border-bottom: 1px solid #fff; color: #fff;">
					  <option ng-repeat="x in sttsMode2" value="{{x.val}}" ng-selected="GereacheInfo.g_iogu == x.val">{{ x.name }}</option>
					</select>
				 </div>
				<div style="float: left; width:56%; padding-top: 10px; margin-left:30px;">
					<input type="text" ng-if="loginData.Admin_Code != 'ERPMobile'" ng-model="GereacheInfo.searchKey" ng-keypress="checkIfEnterKeyWasPressed($event,2)" placeholder="통합검색" style="width: 100%; height: 25px; background: #6c5e72; border:0; border-bottom: 1px solid #fff; color: #fff; padding-right: 50px;">
					<input type="text" ng-if="loginData.Admin_Code == 'ERPMobile'" ng-model="GereacheInfo.searchKey" ng-keypress="checkIfEnterKeyWasPressed($event,2)" placeholder="통합검색 ex)에스이" style="width: 100%; height: 25px; background: #6c5e72; border:0; border-bottom: 1px solid #fff; color: #fff; padding-right: 50px;">
				</div>
				<div style="float: left; width:20%; margin-left:-30px; padding-top: 10px;">
					<i class='ion-android-close' style='font-size: 27px; color:#fff' ng-click="searchKey_Clear(2)"></i>
				</div>
			</div>
			<div style="position: absolute; top: 33px; right: 20px; ">
				<button class="button button-small button-psm00 ion-search" ng-click="pagenum();gereacheiSerch(1)" style="width: 40px; height: 37px; font-size: 1.4em; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;"></button>
			</div>
		</div>

		<div style="padding: 10px;"></div>

		<div ng-if="gereachei_result[0].GerCode == 'N'" style="padding-right: 10px; padding-left: 10px;">
			<table width="100%" height="30px;" style="background: #EDEDED; text-align:center; width: 100%; margin-bottom: 10px; border-top: 1px solid #e0e0e0; border-left: 1px solid #e0e0e0; table-layout:fixed;  font-size: 0.9em;">
				<tr>
					<td style="vertical-align: middle; padding: 4px; text-align: center;">검색내역이 존재 하지 않습니다.</td>
				</tr>
			</table>
		</div>
		<!-- <div style="padding-top: 10px;"></div> -->
		<div ng-if="gereachei_result[0].GerCode != 'N'" style="padding: 0 10px 0 10px;" ng-repeat="x in gereachei_result">
			<table style="background: #ebeded; width: 100%; border-top: 1px solid #e0e0e0; border-left: 1px solid #e0e0e0; table-layout:fixed;  font-size: 0.85em;" ng-click="toggle_{{x.GerCode}} = !toggle_{{x.GerCode}}; loading()">
				<tr>
					<td rowspan="2" align="center" style="width:10%; border-bottom:1px solid #e0e0e0; vertical-align:middle;">{{$index+1}}.</td>
					<td colspan="2" style="width: 100%; padding: 11px 10px 6px 10px; text-align: left;"><div style="width: 100%; height: 17px; overflow: hidden; ">
						<span ng-if="x.stts != 9"><b>{{ x.GerName }}</b></span>
						<span ng-if="x.stts == 9" style="color: red;"><b>{{ x.GerName }}</b></span>
					</td>
				</tr>
				<tr>
					<td style="border-bottom: 1px solid #e0e0e0; width: 66%; padding: 0 10px 10px 10px; text-align: left; font-size: 0.8em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">매출구분: <span ng-if="x.G_ioGu == '601'">매입처</span><span ng-if="x.G_ioGu == '602'">매출처</span><span ng-if="x.G_ioGu == '603'">입출처<span></td>
					<td style="border-bottom: 1px solid #e0e0e0; width: 33%; padding: 0 10px 10px 10px; text-align: left; font-size: 0.8em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">담당자 : {{ (x.G_GDamdang)?x.G_GDamdang:'-' }}</td>
				</tr>

				<tr style="border-bottom: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; width: 100%;" ng-show="toggle_{{x.GerCode}}" ng-click="ActsLog('simple', 'simple_Geredetail')" ng-animate="'box'">
					<td colspan="3" style="width: 100%;">
						<div style="width: 100%;">
							<table style="background: #fff; width: 100%; font-size: 0.85em;">
								<tr>
									<td class="resulttd1-1"><b>거래처명</b></td>
									<td class = "resulttd1-2">{{ (x.GerName)?x.GerName:'-' }}</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>사업자번호</b></td>
									<td class = "resulttd1-2">{{ (x.G_Sano)?x.G_Sano:'-' }}</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>대표자명</b></td>
									<td class = "resulttd1-2">{{ (x.G_Ceo)?x.G_Ceo:'-' }}</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>업태</b></td>
									<td class = "resulttd1-2">{{ (x.G_up)?x.G_up:'-' }}</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>종목</b></td>
									<td class = "resulttd1-2">{{ (x.G_Jong)?x.G_Jong:'-' }}</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>주소</b></td>
									<td class = "resulttd1-2">({{ (x.G_Post1)?x.G_Post1:'-' }}){{ (x.G_Juso1)?x.G_Juso1:'-' }}</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>배송주소</b></td>
									<td class = "resulttd1-2">({{ (x.G_Post2)?x.G_Post2:'-' }}){{ (x.G_Juso2)?x.G_Juso2:'-' }}</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>일반담당자</b></td>
									<td class = "resulttd1-2">{{ (x.G_GDamdang)?x.G_GDamdang:'-' }}</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>일반담당자 연락처</b></td>
									<td class = "resulttd1-2">{{ (x.G_GDamdangTel)?x.G_GDamdangTel:'-' }}</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>세금담당자</b></td>
									<td class = "resulttd1-2">{{ (x.Tax_GDamdang)?x.Tax_GDamdang:'-' }}</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>세금담당자 연락처</b></td>
									<td class = "resulttd1-2">{{ (x.Tax_GDamdangTel)?x.Tax_GDamdangTel:'-' }}</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>세금담당자 이메일</b></td>
									<td class = "resulttd1-2">{{ (x.Tax_EMail)?x.Tax_EMail:'-' }}</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>매출구분</b></td>
									<td class = "resulttd1-2">
										<span ng-if="x.G_ioGu == '601'">매입처</span>
										<span ng-if="x.G_ioGu == '602'">매출처</span>
										<span ng-if="x.G_ioGu == '603'">입출처<span>
									</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>비고</b></td>
									<td class = "resulttd1-2">{{ (x.G_Remk)?x.G_Remk:'-' }}</td>
								</tr>
								<tr>
									<td ng-if="x.stts != 9" colspan="2" style="background: #A298B0; font-size: 0.9em; text-align: right;">
										<div class="padding">
											<button class="button button-small button-psm01" style="padding-right: 5px;" ng-click="goodsUpdate(2,$index);ActsLog('simple', 'simple_Gereupdate')">수정</button>
											<button class="button button-small button-psm02" ng-click="gereacheide(1,x.GerCode);ActsLog('simple', 'simple_Geredelete')">삭제</button>
										</div>
									</td>
									<td ng-if="x.stts == 9" colspan="2" style="background: #A298B0; font-size: 0.9em; text-align: right;">
										<div class="padding">
											<button class="button button-small button-psm02" ng-click="gereacheide(2,x.GerCode);">복원</button>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<!-- 더보기 버튼 -->
		<div ng-if="moreBtn == 'Y'" style="padding: 0 10px 10px 10px;">
			<button class="button button-block icon ion-ios-plus-outline button-psm05" ng-click="gereacheiSerch(2)">  20개 더보기</button>
		</div>
		<div style="padding-bottom: 100px;"></div>
	</ion-content>
	<div class="hide-on-keyboard-open" style="position: fixed; right: 10px; bottom: 60px;">
		<i class='ion-plus-circled' style="position:relative; z-index:1000;font-size:3em; color: #dd8369" ng-click='Goods_Gerea_IU(1);ActsLog("simple", "simple_Gereinsert")'></i>&nbsp;&nbsp;
		<i class='ion-android-arrow-dropup-circle' style="position:relative; z-index:1000;font-size:3.2em; color: #6c5e72; top:2px;" ng-click='scrollTop()'></i>&nbsp;&nbsp;
	</div>
</ion-view>
