<!-- 거래처조회 -->
<style>
table table.style1 {background: #EDEDED; width: 100%; border-top: 1px solid #e0e0e0; border-left: 1px solid #e0e0e0; table-layout:fixed;  font-size: 0.85em; }
table table.style2 {background: #fff; width: 100%; font-size: 0.85em;}
table td.td1-1{width:20%; text-align:center; vertical-align:middle; color: #fff;}
td.td1-2{width:55%; vertical-align:middle; margin-top:20px}

td.resulttd1-1{border-right: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; width: 40%; padding: 4px 10px; text-align: left;}
td.resulttd1-2{border-bottom: 1px solid #e0e0e0; width: 60%; padding: 4px 10px; text-align: left;}

</style>

<ion-view cache-view="false" hide-back-button="true">
	<ion-nav-title>
		<div class="psmsmy_title_co">거래처조회</div>
	</ion-nav-title>
	<ion-nav-back-button>
	</ion-nav-back-button>
	<ion-content style="background: #dce0e1;">
		<div class="item" style="background: #5e6472; border:0; padding-top:15px;">
			<div  style="clear: both; width:100%">
				<div style="font-size: 0.7em; color: #fff;">* 거래처명,거래처코드,사업자번호를 입력해주세요.</div>
			</div>
			<div  style="clear: both; width:100%">
				<div style="float: left; width:26%; padding-top:6px; color: #fff;"> 
					<select style="height: 30px; font-size: 0.75em;">
					  <option>[거래구분]</option>
					  <option>입출</option>
					</select>
				 </div>
				<div style="float: left; width:50%; padding-top: 10px; margin-left:30px;">
					<input type="text" ng-if="loginData.Admin_Code != 'ERPMobile'" placeholder="통합검색" style="width: 100%; height: 25px; background: #5e6472; border:0; border-bottom: 1px solid #fff; color: #fff; padding-right: 50px;">
					<input type="text" ng-if="loginData.Admin_Code == 'ERPMobile'" placeholder="통합검색" style="width: 100%; height: 25px; background: #5e6472; border:0; border-bottom: 1px solid #fff; color: #fff; padding-right: 50px;">
				</div>
				<div style="float: left; width:20%; margin-left:-30px; padding-top: 10px;">
					<i class='ion-android-close' style='font-size: 27px; color:#fff'></i>
				</div>
			</div>
			<div style="position: absolute; top: 33px; right: 20px; "><button class="button button-small button-psm00 ion-search" style="width: 40px; height: 37px; font-size: 1.4em; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;"></button></div>
		</div>


		<div style="padding: 10px;">
			<table style="background: #EDEDED; width: 100%; border-top: 1px solid #e0e0e0; border-left: 1px solid #e0e0e0; table-layout:fixed;  font-size: 0.85em; " ng-if="$index%2 != 0">
				<tr>
					<td colspan="2" style="border-bottom: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; width: 100%; padding: 4px 10px; text-align: left;">
						<div style="width: 100%; height: 21px; overflow: hidden; "><b>(주)청림이엔지</b></div>
					</td>
				</tr>
				<tr>
					<td style="border-bottom: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; width: 66%; padding: 4px 10px; text-align: left; font-size: 0.8em;">매출구분: 입출처</td>
					<td style="border-bottom: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; width: 33%; padding: 4px 10px; text-align: left; font-size: 0.8em;">가용재고 : 207</td>
				</tr>

				<tr style="border-bottom: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; width: 100%;">
					<td colspan="2" style="width: 100%;">
						<div style="width: 100%;">
							<table style="background: #fff; width: 100%; font-size: 0.85em;" ng-if="!$last">
								<tr>
									<td class="resulttd1-1"><b>거래처명</b></td>
									<td class = "resulttd1-2">LONE 프리미에르 데님자켓(남)</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>사업자번호</b></td>
									<td class = "resulttd1-2">9801234561</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>대표자명</b></td>
									<td class = "resulttd1-2">123456789</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>주소</b></td>
									<td class = "resulttd1-2">WHITE</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>전화번호</b></td>
									<td class = "resulttd1-2">-</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>담당자</b></td>
									<td class = "resulttd1-2">정상</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>매출구분</b></td>
									<td class = "resulttd1-2">중국</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>매출단가</b></td>
									<td class = "resulttd1-2">7,000</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>최근매입일</b></td>
									<td class = "resulttd1-2">4,200</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>최근매출일</b></td>
									<td class = "resulttd1-2">4,500</td>
								</tr>
								<tr>
									<td class="resulttd1-1"><b>비고</b></td>
									<td class = "resulttd1-2">[모바일]</td>
								</tr>
								<tr>
									<td colspan="2" style="background: #A298B0; font-size: 0.9em; text-align: center;">
										<button>수정</button>
										<button>삭제</button>
									</td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div style="padding-bottom: 100px;"></div>
	</ion-content>
</ion-view>
