<!-- 상품 등록/수정 모달 -->
<ion-modal-view title="">
	<ion-header-bar class="bar-dark" style="background: #8f6384; border:0;" title-align="center">
		<div class="psmsmy_title_mo">상품 {{GGMode}}</div>
		<div class="buttons" style="position: absolute; right: 0px;">
			<i ng-click="M_close(1)"><img src="./img/icon_close.png" class="psm_left_img3 psmsmy_close" ></i>
		</div>
	</ion-header-bar>

	<ion-content style="background: #dce0e1" scroll="true">
		<div class="list list-inset" style="background: #f3eff4;">
			<label class="item item-input" style="padding: 0;">
				<span class="input-label psm_sang_01" style="width: 37%; height: 50px; display: inline-block; background: #f3eff4; color: #000; padding-top: 17px"><i class="ion-record">&nbsp;&nbsp;상품명(필수)</i></span>
				<span style="width: 63%; display: inline-block;"><input type="text" ng-model="goods_Object.goodsName" style="font-size: 0.8em;" placeholder="상품명을 입력하세요."></span>
				<!-- <span style="display: inline-block; margin-left: -40px;"><i class='ion-android-close' style='font-size: 27px; color:#000;'></i></span> -->
			</label>

			<label class="item item-input" style="padding: 0;">
				<span class="input-label psm_sang_01" style="width: 37%; height: 50px; display: inline-block; background: #f3eff4; color: #000; padding-top: 17px"><i class="ion-record">&nbsp;&nbsp;규격</i></span>
				<span style="width: 63%; display: inline-block;"><input type="text" ng-model="goods_Object.goodsStand" style="font-size: 0.8em;" placeholder="규격을 입력하세요."></span>
				<!-- <span style="display: inline-block; margin-left: -40px;"><i class='ion-android-close' style='font-size: 27px; color:#000;'></i></span> -->
			</label>

			<label class="item item-input" style="padding: 0;">
				<span class="input-label psm_sang_01" style="width: 37%; height: 50px; display: inline-block; background: #f3eff4; color: #000; padding-top: 17px"><i class="ion-record">&nbsp;&nbsp;바코드</i></span>
				<span style="width: 63%; display: inline-block;"><input type="text" ng-model="goods_Object.barcode" style="font-size: 0.8em;" placeholder="바코드를 입력하세요."></span>
				<!-- <span style="display: inline-block; margin-left: -40px;"><i class='ion-android-close' style='font-size: 27px; color:#000;'></i></span> -->
			</label>

			<label class="item item-input" style="padding: 0;">
				<span class="input-label psm_sang_01" style="width: 37%; height: 50px; display: inline-block; background: #f3eff4; color: #000; padding-top: 17px"><i class="ion-record">&nbsp;&nbsp;로케이션</i></span>
				<span style="width: 63%; display: inline-block;"><input type="text" ng-model="goods_Object.location" style="font-size: 0.8em;" placeholder="로케이션을 입력하세요."></span>
				<!-- <span style="display: inline-block; margin-left: -40px;"><i class='ion-android-close' style='font-size: 27px; color:#000;'></i></span> -->
			</label>

			<label class="item item-input" style="padding: 0;">
				<span class="input-label psm_sang_01" style="width: 36%; height: 50px; background: #f3eff4; color: #000; padding-top: 17px"><i class="ion-record">&nbsp;&nbsp;상태</i></span>
				<span style="width: 66%; display: inline-block;">
					<select ng-model="goods_Object.stts" style="height: 40px; font-size: 0.8em; width: 96%;">
						<option ng-repeat="x in goodsStts" value="{{x.val}}" ng-selected="x.val == goods_Object.stts">{{ x.name }}</option>
					</select>
				</span>
			</label>

			<label class="item item-input" style="padding: 0;">
				<span class="input-label psm_sang_01" style="width: 36%; height: 50px; background: #f3eff4; color: #000; padding-top: 17px"><i class="ion-record">&nbsp;&nbsp;유무형구분</i></span>
				<span style="width: 66%; display: inline-block;">
					<select ng-model="goods_Object.umgubun" style="height: 40px; font-size: 0.8em; width: 96%;">
						<option ng-repeat="x in goods_shapeYN" value="{{x.val}}" ng-selected="x.val == goods_Object.stts">{{ x.name }}</option>
					</select>
				</span>
			</label>


<!-- 			<label class="item item-input" style="padding: 0; margin: 0; background: #f3eff4;">
				<span class="input-label" style="width: 50%; height: 45px; padding-top: 17px; padding: 10px 5px 10px 10px; margin: 0;">
					<select ng-model="goods_Object.stts" style="height: 40px; font-size: 0.8em; width: 96%;">
						<option ng-repeat="x in goodsStts" value="{{x.val}}" ng-selected="x.val == goods_Object.stts">{{ x.name }}</option>
					</select>
				</span>
				<span class="input-label" style="width: 50%; height: 45px; padding-top: 17px; padding: 10px 10px 10px 5px; margin: 0;">
					<select ng-model="goods_Object.umgubun" style="height: 40px; font-size: 0.8em; width: 96%;">
						<option ng-repeat="x in goods_shapeYN" value="{{x.val}}" ng-selected="x.val == goods_Object.stts">{{ x.name }}</option>
					</select>
				</span>
				<br>
			</label> -->

			<div class="list list-inset" align="left" style="background: #f3eff4;">
				<div style="text-align: left; padding: 0 10px 10px 10px; font-size: 0.85em;"><i class="ion-record">&nbsp;&nbsp;<b>가격</b></i><span style="font-size: 0.7em;"> (*가격을 입력하지 않으시면 자동 0원으로 등록됩니다.)</span></div>
				<div style="border: 1px solid #dce0e1">
					<table style="width: 100%;">
						<tr>
							<td style="width: 50%;">
								<label class="item item-input" style="padding-right: 0px;">
									<span style="font-size: 0.8em; padding-right: 5px;">매입가</span>
									<span style="margin-right: -40px; width: 100%; height: 30px;">
										<input type="number" ng-model="goods_Object.ipAmt" style="width: 100%; text-align: right;" placeholder="0">
									</span>
								</label>	
							</td>
							<td style="width: 50%;">
								<label class="item item-input" style="padding-right: 0px;">
									<span style="font-size: 0.8em; padding-right: 5px;">도매가</span>
									<span style="margin-right: -40px; width: 100%; height: 30px;">
										<input type="number" ng-model="goods_Object.doAmt" style="width: 100%; text-align: right;" placeholder="0">
									</span>
								</label>
							</td>
						</tr>
						<tr>
							<td style="width: 50%;">
								<label class="item item-input" style="padding-right: 0px;">
									<span style="font-size: 0.8em; padding-right: 5px;">인터넷가</span>
									<span style="margin-right: -40px; width: 100%; height: 30px;">
										<input type="number" ng-model="goods_Object.interAmt" style="width: 100%; text-align: right;" placeholder="0">
									</span>
								</label>	
							</td>
							<td style="width: 50%;">
								<label class="item item-input" style="padding-right: 0px;">
									<span style="font-size: 0.8em; padding-right: 5px;">소매가</span>
									<span style="margin-right: -40px; width: 100%; height: 30px;">
										<input type="number" ng-model="goods_Object.soAmt" style="width: 100%; text-align: right;" placeholder="0">
									</span>
								</label>
							</td>
						</tr>
						<tr>
							<td style="width: 50%;">
								<label class="item item-input" style="padding-right: 0px;">
									<span style="font-size: 0.7em; padding-right: 5px;">권장소비자가</span>
									<span style="margin-right: -40px; width: 100%; height: 30px;">
										<input type="number" ng-model="goods_Object.userAmt" style="width: 100%; text-align: right;" placeholder="0">
									</span>
								</label>	
							</td>
							<td style="width: 50%;">
								
							</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="list list-inset" align="left" style="background: #f3eff4; padding-bottom: 10px">
				<div style="text-align: left; padding: 0 10px 10px 10px; font-size: 0.85em;"><i class="ion-record">&nbsp;&nbsp;<b>비고</b></i></div>
				<div style="border: 1px solid #dce0e1">
					<textarea placeholder="비고란 입니다." ng-model="goods_Object.bigo" style="width: 100%; height: 150px; padding: 15px; font-size: 0.8em;"></textarea>
				</div>
			</div>
		</div>
		<div style="padding-bottom: 100px;"></div>
	</ion-content>
	<div class="bar bar-footer" style="background: #6c5e72;">
		<div class="title" style="color: #fff;" ng-click="goodsGereachei_IU(1)">{{GGMode}}</div>
	</div>
</ion-modal-view>
