<ion-popover-view  style="width: 170px; height: 150px; background-color: #f3eff4;">
	<ion-content class="padding">
		<div style="padding-top: 5px; padding-bottom: 10px;">
			<button class="button icon-left ion-cube" style="width: 100%; background-color: #8f6384; color: #fff;" ng-controller="EasyCtrl" ng-click="useYN_Check2(1);pagenum(1);ActsLog('simple', 'simple_Goodsmanage')">상품관리</button>
		</div>
		<div>
			<button class="button icon-left ion-document-text" style="width: 100%; background-color: #8f6384; color: #fff;" ng-controller="EasyCtrl" ng-click="useYN_Check2(2);pagenum(2);ActsLog('simple', 'simple_Geremanage')">거래처관리</button>
		</div>
	</ion-content>
</ion-popover-view>