<ion-popover-view  style="width: 170px; height: 150px; background-color: #ededed;">
	<ion-content class="padding">
		<div style="padding-top: 5px; padding-bottom: 10px;">
			<button class="button icon-left ion-social-dropbox button-positive" style="width: 100%" ng-controller="EasyCtrl" ng-click="useYN_Check2(1);test1()">상품조회</button>
		</div>
		<div>
			<button class="button icon-left ion-clipboard button-positive" style="width: 100%" ng-click="useYN_Check2(2)">거래처조회</button>
		</div>
	</ion-content>
</ion-popover-view>
