<ion-popover-view  style="width: 170px; height: 150px; background-color: #f3eff4;">
	<ion-content class="padding">
		<div style="padding-top: 5px; padding-bottom: 10px;">
			<button class="button icon-left ion-social-dropbox" style="width: 100%; background-color: #8f6384; color: #fff;" ng-controller="EasyCtrl" ng-click="useYN_Check2(1);pagenum(1)">상품조회</button>
		</div>
		<div>
			<button class="button icon-left ion-clipboard" style="width: 100%; background-color: #8f6384; color: #fff;" ng-controller="EasyCtrl" ng-click="useYN_Check2(2);pagenum(2)">거래처조회</button>
		</div>
	</ion-content>
</ion-popover-view>
