<ion-modal-view>
	<ion-content scroll="false" style="background-color: rgb(129, 133, 142);">
		<ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index);" style="border-top: 1px solid #e0e0e0;">
			<!-- ERPia란? -->
			<ion-slide>
				<img style="z-index: 3;" src="./img/tutorial1.png" width="100%" height="100%">
				<div class="ion-close-round" ng-click="tutorialM_Close()" style="color: #fff; position: absolute; top: 10px; text-align: right; font-size: 1.6em; z-index: 1; width: 100%; padding-right: 5%;"></div>
			</ion-slide>

			<!-- 서비스 구성 -->
			<ion-slide>
				<img style="z-index: 3;" src="./img/tutorial2.png" width="100%" height="100%">
				<div class="ion-close-round" ng-click="tutorialM_Close()" style="color: #fff; position: absolute; top: 10px; text-align: right; font-size: 1.6em; z-index: 1; width: 100%; padding-right: 5%;"></div>
				<div style="z-index: 2; margin-top: -70px; width: 100%; padding-left: 10%;">
					<ion-checkbox ng-model="tutorialCheck.checked" ng-checked="tutorialCheck.checked" style="font-size: 12pt; color: #fff; border: 0px; background-color: rgba( 255, 255, 255, 0.0 );">
						더 이상 이창을 띄우지 않기
					</ion-checkbox>
				</div>
			</ion-slide>

			<!-- 부가서비스 -->
			<ion-slide>
				<img style="z-index: 3;" src="./img/tutorial3.png" width="100%" height="100%">
				<div class="ion-close-round" ng-click="tutorialM_Close()" style="color: #fff; position: absolute; top: 10px; text-align: right; font-size: 1.6em; z-index: 1; width: 100%; padding-right: 5%;"></div>
				<div style="z-index: 2; margin-top: -70px; width: 100%; padding-left: 10%;">
					<ion-checkbox ng-model="tutorialCheck.checked" ng-checked="tutorialCheck.checked" style="font-size: 12pt; color: #fff; border: 0px; background-color: rgba( 255, 255, 255, 0.0 );">
						더 이상 이창을 띄우지 않기
					</ion-checkbox>
				</div>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-modal-view>
