<style type="text/css">
  on-toggle {background: #fff}

</style>

<ion-view style="background: #dce0e1; color: #fff">
	<ion-nav-title>
		<div class="psmsmy_title_co">알림 설정</div>
	</ion-nav-title>
	<ion-nav-bar>
		<ion-nav-back-button ng-click="goBack_with_clearHistory()">뒤로</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content class="padding2" style="padding: 15px;">
		<ion-toggle ng-model="selectedAll" ng-change='check_alarm(selectedAll)' style="margin-bottom: 15px;">전체알림</ion-toggle>
		<ion-toggle ng-repeat="item in settingsList" ng-model="item.checked" ng-checked="item.checked" ng-change='check_change(item)' style="background: #ebebeb">
          	{{ item.name }}
        </ion-toggle>
	</ion-content>
</ion-view>
