<ion-view view-title="공지사항" style="background: #dce0e1; color: #fff">
	<ion-nav-bar>
		<ion-nav-back-button ng-click="goBack_with_clearHistory()">설정</ion-nav-back-button>
		<ion-nav-buttons side="right" ng-show="false">
			<button class="button button-icon button-clear ion-home" menu-close ng-click="goHome()"></button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="padding2" overflow-scroll="false">
		<body ng-app="ngAnimate">
			<ion-list on-swipe-up="boards_more()">
				<ion-item ng-repeat="item in items" style="padding:0px;">
					<ui class="list" ng-click="toggle_{{item.key_id}} = !toggle_{{item.key_id}}">
						<li class="item">
							{{item.idx}}. 
							<font ng-if="item.gubun == '1'">[공지]</font>
							<font ng-if="item.gubun == '2'">[필독]</font>
							<font ng-if="item.gubun == '3'">[긴급]</font>
							<font ng-if="item.gubun == '4'">[기타]</font>
							{{item.subject}}<br>
 							작성일 : {{item.in_date}}<br>
							작성자 : {{item.writer}}
						</li>
					</ui>
					<pre class="lhkNoticeContent" style="font-family: sans-serif;" ng-show="toggle_{{item.key_id}}" ng-animate="'box'" ng-bind-html="item.contents"></pre>
					<!-- 공지사항 더보기 추가되면 아래주석 다시 열 예정입니다. -->
<!-- 				 	<ui class="list" ng-if="moreloading==0&&maxover==0&&$last" >
						<li class="item">
						<b>더보기를 하시려면 위로 쓸어올려주세요.</b>
						</li>
					</ui> -->
<!-- 					<ui class="list" ng-if="moreloading==1&&$last" align="center">
						<li class="item">
							 <ion-spinner icon="spiral" ></ion-spinner>
						</li>
					</ui> -->
				</ion-item>
			           	<br><br><br><br> 
			</ion-list>
		</body>
	</ion-content>
	  <div style="margin-top:140%" align="right">
		    <i class='ion-android-arrow-dropup-circle' style="position:relative; z-index:1000;font-size:50px; color:gray" ng-click='scrollTop()'></i>&nbsp;&nbsp;
	  </div>
</ion-view>
