<ion-modal-view cache-view="false" style="color: #fff" class="bar-dark">
	<ion-header-bar class="bar-dark" style="background: #8f6384; border:0;" title-align="center">
		<div class="psmsmy_title_mo">비밀번호 변경</div>
	   	<div class="buttons" style="position: absolute; right: 0px;">
	      		<i ng-click="pwdchangeModal_close()"><img src="./img/icon_close.png" class="psm_left_img3 psmsmy_close" ></i>
	    	</div>
	</ion-header-bar>
 <ion-content>
	<div class="list list-inset">
	 <label class="item item-input" style="padding: 0;">
		<span class="input-label psm_sang_01" style="width: 42%; height: 50px; background: #8c8391; color: #fff; padding-top: 17px">
		기존 비밀번호
		</span>
		<input type="password"  placeholder="기존비밀번호" ng-model="changepassdata.beforepwd" style="width: 70%; padding: 15px; border: 1px solid #e0e0e0;" >
	 </label>
	 <label class="item item-input" style="padding: 0;">
		<span class="input-label psm_sang_01" style="width: 42%; height: 50px; background: #8c8391; color: #fff; padding-top: 17px">
		변경 비밀번호
		</span>
		<input type="password" placeholder="변경 비밀번호" ng-model="changepassdata.changepass" style="width: 70%; padding: 15px; border: 1px solid #e0e0e0;" >
	 </label>
	  <label class="item item-input" style="padding: 0;">
		<span class="input-label psm_sang_01" style="width: 42%; height: 50px; background: #8c8391; color: #fff; padding-top: 17px">
		변경 비밀번호 확인
		</span>
		<input type="password" placeholder="변경 비밀번호 확인" ng-model="changepassdata.check_changepass" style="width: 70%; padding: 15px; border: 1px solid #e0e0e0;" >
	 </label>
  	
  	<br>

  	<span><font color="black">* 소중한 정보 보안을 위해 비밀번호는 8~12자 내 영문,숫자,특수문자를 조합하여 입력해주세요.</font></span>
  		<button class="button button-full button-positive" ng-click="passChange()" >비밀번호 변경하기</button>
  	 
	</div>
  </ion-content>
  </ion-modal-view>
