 <ion-view view-title="로그인 설정" style="background: #dce0e1; color: #fff">
 <ion-content>
	<div class="list list-inset">
	  <label class="item item-input" style="padding: 0;">
		<span class="input-label psm_sang_01" style="width: 42%; height: 50px; background: #8c8391; color: #fff; padding-top: 17px"><input type="text" ng-click='goods_lately()' placeholder="상품정보를 입력하세요" ng-model="user.userGoodsName" style="width: 100%; padding: 15px; border: 1px solid #e0e0e0;"></span>
		<select ng-model="setupData.basic_Ch_Code" ng-change='Changosave()' style="height: 32px;">
	  </label>

	 	  <label class="item item-input" style="padding: 0;">
		<span class="input-label psm_sang_01" style="width: 42%; height: 50px; background: #8c8391; color: #fff; padding-top: 17px"><input type="text" ng-click='goods_lately()' placeholder="상품정보를 입력하세요" ng-model="user.userGoodsName" style="width: 100%; padding: 15px; border: 1px solid #e0e0e0;"></span>
		<select ng-model="setupData.basic_Ch_Code" ng-change='Changosave()' style="height: 32px;">
	  </label>

	</div>
  </ion-content>
  </ion-view>
